---
import AstroIcon from "../icons/AstroIcon.astro";
import CssIcon from "../icons/CssIcon.astro";
import HtmlIcon from "../icons/HtmlIcon.astro";
import Github from "../icons/Github.astro";
import JavaScriptIcon from "../icons/JavaScript.astro";
import Link from "../icons/Link.astro";
import NodejsIcon from "../icons/NodejsIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import WordpressIcon from "../icons/WordpressIcon.astro";
import LinkButton from "./LinkButton.astro";
const TAGS = {
  Astro: {
    name: "Astro",
    class: "bg-black",
    icon: AstroIcon,
  },
  Css: {
    name: "Css",
    class: "bg-black",
    icon: CssIcon,
  },
  Html: {
    name: "Html",
    class: "bg-black",
    icon: HtmlIcon,
  },
  Nodejs: {
    name: "NodeJs",
    class: "bg-black",
    icon: NodejsIcon,
  },
  javaScript: {
    name: "JavaScript",
    class: "bg-black",
    icon: JavaScriptIcon,
  },
  React: {
    name: "React",
    class: "bg-black",
    icon: ReactIcon,
  },
  Tailwind: {
    name: "Tailwind",
    class: "bg-black",
    icon: TailwindIcon,
  },
  Wordpress: {
    name: "Wordpress",
    class: "bg-black",
    icon: WordpressIcon,
  },
};
const PROJECTS = [
  {
    title: "Sharif Fernandez Web",
    description:
      "Renovación completa del sitio web de un artista, con el objetivo de mejorar su presencia digital.",
    link: "https://animeargentina.net",
    github: "https://github.com/jonadeveloper/sharif-fernandez-web",
    video: "sdjdj",
    image: "/projects/sharifweb-project.webp",
    tags: [TAGS.React, TAGS.Css],
  },
  {
    title: "Pizzaria Lo Artesanal",
    description:
      "Digitalización de negocio tradicional. Llevando los productos a la web y aumentando asi las ventas en mas de un 40%.",
    link: "https://animeargentina.net",
    github: "https://github.com/jonadeveloper/sharif-fernandez-web",
    video: "sdjdj",
    image: "/projects/pizzeria-project.webp",
    tags: [TAGS.Html, TAGS.Css, TAGS.javaScript],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <Github class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
